In [1]:
!pip install pandas     # installation process
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
countries = ['UK', 'Germany' , 'France', 'USA', 'Austria']          # Data Series
pd.Series(countries, name='Countries')

0         UK
1    Germany
2     France
3        USA
4    Austria
Name: Countries, dtype: object

In [8]:
# Data Frame
pop_dict = {'UK':26580000, 'Germany':83780000, 'France':673, 'USA': 65215, 'Austria': 216598}
pd.DataFrame(pop_dict.items(), columns=['Country', 'Population'])

   Country  Population
0       UK    26580000
1  Germany    83780000
2   France         673
3      USA       65215
4  Austria      216598

In [9]:
from google.colab import files        # CSV upload
df = files.upload()

Saving student.csv to student.csv

In [10]:
# Read data
df = pd.read_csv('student.csv')
df

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78     NaN
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row    NaN    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27          NaN  Three    81     NaN
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [11]:
df.head()

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female

In [12]:
df.tail()

    id         name  class  mark  gender
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [13]:
df['name']

0        John Deo
1        Max Ruin
2          Arnold
3      Krish Star
4       John Mike
5       Alex John
6     My John Rob
7          Asruid
8         Tes Qry
9        Big John
10         Ronald
11          Recky
12            Kty
13           Bigy
14       Tade Row
15          Gimmy
16          Tumyu
17          Honny
18          Tinny
19         Jackly
20     Babby John
21         Reggid
22          Herod
23      Tiddy Now
24       Giff Tow
25         Crelea
26            NaN
27      Rojj Base
28    Tess Played
29      Reppy Red
30    Marry Toeey
31      Binn Rott
32      Kenn Rein
33       Gain Toe
34     Rows Noump
Name: name, dtype: object

In [14]:
df[['name', 'mark']]

           name  mark
0      John Deo    75
1      Max Ruin    85
2        Arnold    55
3    Krish Star    60
4     John Mike    60
5     Alex John    55
6   My John Rob    78
7        Asruid    85
8       Tes Qry    78
9      Big John    55
10       Ronald    89
11        Recky    94
12          Kty    88
13         Bigy    88
14     Tade Row    88
15        Gimmy    88
16        Tumyu    54
17        Honny    75
18        Tinny    18
19       Jackly    65
20   Babby John    69
21       Reggid    55
22        Herod    79
23    Tiddy Now    78
24     Giff Tow    88
25       Crelea    79
26          NaN    81
27    Rojj Base    86
28  Tess Played    55
29    Reppy Red    79
30  Marry Toeey    88
31    Binn Rott    90
32    Kenn Rein    96
33     Gain Toe    69
34   Rows Noump    88

In [15]:
df.gender

0     female
1       male
2       male
3     female
4     female
5       male
6       male
7       male
8        NaN
9     female
10    female
11    female
12    female
13    female
14      male
15      male
16      male
17      male
18      male
19    female
20    female
21    female
22      male
23      male
24      male
25      male
26       NaN
27    female
28      male
29    female
30      male
31    female
32    female
33      male
34    female
Name: gender, dtype: object

In [16]:
df.iloc[1:10, 0:3]      # Row and column location

   id         name  class
1   2     Max Ruin  Three
2   3       Arnold  Three
3   4   Krish Star   Four
4   5    John Mike   Four
5   6    Alex John   Four
6   7  My John Rob  Fifth
7   8       Asruid   Five
8   9      Tes Qry    Six
9  10     Big John   Four

In [21]:
df.loc[28]      # Row location

id                 29
name      Tess Played
class           Seven
mark               55
gender           male
Name: 28, dtype: object

In [26]:
df.loc[10:20, 'id']

10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
Name: id, dtype: int64

In [37]:
df.iloc[:,[1,3]]

           name  mark
0      John Deo    75
1      Max Ruin    85
2        Arnold    55
3    Krish Star    60
4     John Mike    60
5     Alex John    55
6   My John Rob    78
7        Asruid    85
8       Tes Qry    78
9      Big John    55
10       Ronald    89
11        Recky    94
12          Kty    88
13         Bigy    88
14     Tade Row    88
15        Gimmy    88
16        Tumyu    54
17        Honny    75
18        Tinny    18
19       Jackly    65
20   Babby John    69
21       Reggid    55
22        Herod    79
23    Tiddy Now    78
24     Giff Tow    88
25       Crelea    79
26          NaN    81
27    Rojj Base    86
28  Tess Played    55
29    Reppy Red    79
30  Marry Toeey    88
31    Binn Rott    90
32    Kenn Rein    96
33     Gain Toe    69
34   Rows Noump    88

In [38]:
df.loc[0:, ['name', 'mark']]

           name  mark
0      John Deo    75
1      Max Ruin    85
2        Arnold    55
3    Krish Star    60
4     John Mike    60
5     Alex John    55
6   My John Rob    78
7        Asruid    85
8       Tes Qry    78
9      Big John    55
10       Ronald    89
11        Recky    94
12          Kty    88
13         Bigy    88
14     Tade Row    88
15        Gimmy    88
16        Tumyu    54
17        Honny    75
18        Tinny    18
19       Jackly    65
20   Babby John    69
21       Reggid    55
22        Herod    79
23    Tiddy Now    78
24     Giff Tow    88
25       Crelea    79
26          NaN    81
27    Rojj Base    86
28  Tess Played    55
29    Reppy Red    79
30  Marry Toeey    88
31    Binn Rott    90
32    Kenn Rein    96
33     Gain Toe    69
34   Rows Noump    88

In [39]:
# filtering
df[df['gender']=='female']

    id        name  class  mark  gender
0    1    John Deo   Four    75  female
3    4  Krish Star   Four    60  female
4    5   John Mike   Four    60  female
9   10    Big John   Four    55  female
10  11      Ronald    Six    89  female
11  12       Recky    Six    94  female
12  13         Kty  Seven    88  female
13  14        Bigy  Seven    88  female
19  20      Jackly   Nine    65  female
20  21  Babby John   Four    69  female
21  22      Reggid  Seven    55  female
27  28   Rojj Base  Seven    86  female
29  30   Reppy Red    Six    79  female
31  32   Binn Rott  Seven    90  female
32  33   Kenn Rein    Six    96  female
34  35  Rows Noump    Six    88  female

In [59]:
df[(df['gender']=='female')&(df['mark'] >= 90)]

    id       name  class  mark  gender
11  12      Recky    Six    94  female
31  32  Binn Rott  Seven    90  female
32  33  Kenn Rein    Six    96  female

In [53]:
df[df['class']=='Six']

    id        name class  mark  gender
8    9     Tes Qry   Six    78     NaN
10  11      Ronald   Six    89  female
11  12       Recky   Six    94  female
16  17       Tumyu   Six    54    male
29  30   Reppy Red   Six    79  female
32  33   Kenn Rein   Six    96  female
34  35  Rows Noump   Six    88  female

In [55]:
df[(df['class']=='Nine')|(df['class']=='Three')]

    id      name  class  mark  gender
1    2  Max Ruin  Three    85    male
2    3    Arnold  Three    55    male
18  19     Tinny   Nine    18    male
19  20    Jackly   Nine    65  female
26  27       NaN  Three    81     NaN

In [56]:
df.head(10)

   id         name  class  mark  gender
0   1     John Deo   Four    75  female
1   2     Max Ruin  Three    85    male
2   3       Arnold  Three    55    male
3   4   Krish Star   Four    60  female
4   5    John Mike   Four    60  female
5   6    Alex John   Four    55    male
6   7  My John Rob  Fifth    78    male
7   8       Asruid   Five    85    male
8   9      Tes Qry    Six    78     NaN
9  10     Big John   Four    55  female

In [57]:
df.tail()

    id         name  class  mark  gender
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [66]:
df.loc[0:, ['name', 'gender']]

           name  gender
0      John Deo  female
1      Max Ruin    male
2        Arnold    male
3    Krish Star  female
4     John Mike  female
5     Alex John    male
6   My John Rob    male
7        Asruid    male
8       Tes Qry     NaN
9      Big John  female
10       Ronald  female
11        Recky  female
12          Kty  female
13         Bigy  female
14     Tade Row    male
15        Gimmy    male
16        Tumyu    male
17        Honny    male
18        Tinny    male
19       Jackly  female
20   Babby John  female
21       Reggid  female
22        Herod    male
23    Tiddy Now    male
24     Giff Tow    male
25       Crelea    male
26          NaN     NaN
27    Rojj Base  female
28  Tess Played    male
29    Reppy Red  female
30  Marry Toeey    male
31    Binn Rott  female
32    Kenn Rein  female
33     Gain Toe    male
34   Rows Noump  female

In [67]:
df.dtypes

id         int64
name      object
class     object
mark       int64
gender    object
dtype: object

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35 non-null     int64
 1   name    34 non-null     object
 2   class   34 non-null     object
 3   mark    35 non-null     int64
 4   gender  33 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

In [70]:
df.columns

Index(['id', 'name', 'class', 'mark', 'gender'], dtype='object')

In [71]:
df.rename(columns={'id':'student_id'}, inplace=True)

In [72]:
df

    student_id         name  class  mark  gender
0            1     John Deo   Four    75  female
1            2     Max Ruin  Three    85    male
2            3       Arnold  Three    55    male
3            4   Krish Star   Four    60  female
4            5    John Mike   Four    60  female
5            6    Alex John   Four    55    male
6            7  My John Rob  Fifth    78    male
7            8       Asruid   Five    85    male
8            9      Tes Qry    Six    78     NaN
9           10     Big John   Four    55  female
10          11       Ronald    Six    89  female
11          12        Recky    Six    94  female
12          13          Kty  Seven    88  female
13          14         Bigy  Seven    88  female
14          15     Tade Row    NaN    88    male
15          16        Gimmy   Four    88    male
16          17        Tumyu    Six    54    male
17          18        Honny   Five    75    male
18          19        Tinny   Nine    18    male
19          20       Jackly   Nine    65  female
20          21   Babby John   Four    69  female
21          22       Reggid  Seven    55  female
22          23        Herod  Eight    79    male
23          24    Tiddy Now  Seven    78    male
24          25     Giff Tow  Seven    88    male
25          26       Crelea  Seven    79    male
26          27          NaN  Three    81     NaN
27          28    Rojj Base  Seven    86  female
28          29  Tess Played  Seven    55    male
29          30    Reppy Red    Six    79  female
30          31  Marry Toeey   Four    88    male
31          32    Binn Rott  Seven    90  female
32          33    Kenn Rein    Six    96  female
33          34     Gain Toe  Seven    69    male
34          35   Rows Noump    Six    88  female

In [74]:
df.isnull().sum()

student_id    0
name          1
class         1
mark          0
gender        2
dtype: int64

In [75]:
df.duplicated().sum()

np.int64(0)

In [80]:
df['class'].value_counts()

class
Seven    10
Four      8
Six       7
Five      3
Three     3
Nine      2
Eight     1
Name: count, dtype: int64

In [78]:
df['class'] = df['class'].replace('Fifth', 'Five')

In [79]:
df

    student_id         name  class  mark  gender
0            1     John Deo   Four    75  female
1            2     Max Ruin  Three    85    male
2            3       Arnold  Three    55    male
3            4   Krish Star   Four    60  female
4            5    John Mike   Four    60  female
5            6    Alex John   Four    55    male
6            7  My John Rob   Five    78    male
7            8       Asruid   Five    85    male
8            9      Tes Qry    Six    78     NaN
9           10     Big John   Four    55  female
10          11       Ronald    Six    89  female
11          12        Recky    Six    94  female
12          13          Kty  Seven    88  female
13          14         Bigy  Seven    88  female
14          15     Tade Row    NaN    88    male
15          16        Gimmy   Four    88    male
16          17        Tumyu    Six    54    male
17          18        Honny   Five    75    male
18          19        Tinny   Nine    18    male
19          20       Jackly   Nine    65  female
20          21   Babby John   Four    69  female
21          22       Reggid  Seven    55  female
22          23        Herod  Eight    79    male
23          24    Tiddy Now  Seven    78    male
24          25     Giff Tow  Seven    88    male
25          26       Crelea  Seven    79    male
26          27          NaN  Three    81     NaN
27          28    Rojj Base  Seven    86  female
28          29  Tess Played  Seven    55    male
29          30    Reppy Red    Six    79  female
30          31  Marry Toeey   Four    88    male
31          32    Binn Rott  Seven    90  female
32          33    Kenn Rein    Six    96  female
33          34     Gain Toe  Seven    69    male
34          35   Rows Noump    Six    88  female

In [83]:
df['mark'].describe()

count    35.000000
mean     74.657143
std      16.401117
min      18.000000
25%      62.500000
50%      79.000000
75%      88.000000
max      96.000000
Name: mark, dtype: float64

In [84]:
df.describe()

       student_id       mark
count   35.000000  35.000000
mean    18.000000  74.657143
std     10.246951  16.401117
min      1.000000  18.000000
25%      9.500000  62.500000
50%     18.000000  79.000000
75%     26.500000  88.000000
max     35.000000  96.000000

In [85]:
df['mark'].mean()

np.float64(74.65714285714286)

In [86]:
round(df['mark'].mean(), 2)

np.float64(74.66)

In [87]:
df['mark'].median()

79.0

In [88]:
df['mark'].mode()

0    88
Name: mark, dtype: int64

In [93]:
df['mark'].std()

16.401116994139826

In [94]:
round(df['mark'].std(), 2)

16.4

In [95]:
df['mark'].min()

18

In [96]:
df['mark'].max()

96

In [97]:
df['mark'].var()

268.9966386554622

In [98]:
round(df['mark'].var(), 2)

269.0

In [100]:
df[['student_id', 'mark']].corr()     # used more for hrs studied and marks

            student_id      mark
student_id    1.000000  0.211582
mark          0.211582  1.000000

In [101]:
df.describe()

       student_id       mark
count   35.000000  35.000000
mean    18.000000  74.657143
std     10.246951  16.401117
min      1.000000  18.000000
25%      9.500000  62.500000
50%     18.000000  79.000000
75%     26.500000  88.000000
max     35.000000  96.000000

In [102]:
df.head(3)

   student_id      name  class  mark  gender
0           1  John Deo   Four    75  female
1           2  Max Ruin  Three    85    male
2           3    Arnold  Three    55    male

In [105]:
df[(df['class'] == 'Four')]

    student_id         name class  mark  gender
0            1     John Deo  Four    75  female
3            4   Krish Star  Four    60  female
4            5    John Mike  Four    60  female
5            6    Alex John  Four    55    male
9           10     Big John  Four    55  female
15          16        Gimmy  Four    88    male
20          21   Babby John  Four    69  female
30          31  Marry Toeey  Four    88    male

In [106]:
df['Passed'] = df['mark'] >= 60

In [107]:
df

    student_id         name  class  mark  gender  Passed
0            1     John Deo   Four    75  female    True
1            2     Max Ruin  Three    85    male    True
2            3       Arnold  Three    55    male   False
3            4   Krish Star   Four    60  female    True
4            5    John Mike   Four    60  female    True
5            6    Alex John   Four    55    male   False
6            7  My John Rob   Five    78    male    True
7            8       Asruid   Five    85    male    True
8            9      Tes Qry    Six    78     NaN    True
9           10     Big John   Four    55  female   False
10          11       Ronald    Six    89  female    True
11          12        Recky    Six    94  female    True
12          13          Kty  Seven    88  female    True
13          14         Bigy  Seven    88  female    True
14          15     Tade Row    NaN    88    male    True
15          16        Gimmy   Four    88    male    True
16          17        Tumyu    Six    54    male   False
17          18        Honny   Five    75    male    True
18          19        Tinny   Nine    18    male   False
19          20       Jackly   Nine    65  female    True
20          21   Babby John   Four    69  female    True
21          22       Reggid  Seven    55  female   False
22          23        Herod  Eight    79    male    True
23          24    Tiddy Now  Seven    78    male    True
24          25     Giff Tow  Seven    88    male    True
25          26       Crelea  Seven    79    male    True
26          27          NaN  Three    81     NaN    True
27          28    Rojj Base  Seven    86  female    True
28          29  Tess Played  Seven    55    male   False
29          30    Reppy Red    Six    79  female    True
30          31  Marry Toeey   Four    88    male    True
31          32    Binn Rott  Seven    90  female    True
32          33    Kenn Rein    Six    96  female    True
33          34     Gain Toe  Seven    69    male    True
34          35   Rows Noump    Six    88  female    True

In [108]:
df.rename(columns={'mark':'score'}, inplace=True)

In [109]:
df

    student_id         name  class  score  gender  Passed
0            1     John Deo   Four     75  female    True
1            2     Max Ruin  Three     85    male    True
2            3       Arnold  Three     55    male   False
3            4   Krish Star   Four     60  female    True
4            5    John Mike   Four     60  female    True
5            6    Alex John   Four     55    male   False
6            7  My John Rob   Five     78    male    True
7            8       Asruid   Five     85    male    True
8            9      Tes Qry    Six     78     NaN    True
9           10     Big John   Four     55  female   False
10          11       Ronald    Six     89  female    True
11          12        Recky    Six     94  female    True
12          13          Kty  Seven     88  female    True
13          14         Bigy  Seven     88  female    True
14          15     Tade Row    NaN     88    male    True
15          16        Gimmy   Four     88    male    True
16          17        Tumyu    Six     54    male   False
17          18        Honny   Five     75    male    True
18          19        Tinny   Nine     18    male   False
19          20       Jackly   Nine     65  female    True
20          21   Babby John   Four     69  female    True
21          22       Reggid  Seven     55  female   False
22          23        Herod  Eight     79    male    True
23          24    Tiddy Now  Seven     78    male    True
24          25     Giff Tow  Seven     88    male    True
25          26       Crelea  Seven     79    male    True
26          27          NaN  Three     81     NaN    True
27          28    Rojj Base  Seven     86  female    True
28          29  Tess Played  Seven     55    male   False
29          30    Reppy Red    Six     79  female    True
30          31  Marry Toeey   Four     88    male    True
31          32    Binn Rott  Seven     90  female    True
32          33    Kenn Rein    Six     96  female    True
33          34     Gain Toe  Seven     69    male    True
34          35   Rows Noump    Six     88  female    True

In [129]:
df1 = df.drop(columns=['Passed'], inplace=True)
df1

AttributeError: 'NoneType' object has no attribute 'drop'

In [130]:
DF

NameError: name 'DF' is not defined

In [131]:
df

In [132]:
df1

    student_id         name  class  score  gender
0            1     John Deo   Four     75  female
1            2     Max Ruin  Three     85    male
2            3       Arnold  Three     55    male
3            4   Krish Star   Four     60  female
4            5    John Mike   Four     60  female
5            6    Alex John   Four     55    male
6            7  My John Rob   Five     78    male
7            8       Asruid   Five     85    male
8            9      Tes Qry    Six     78     NaN
9           10     Big John   Four     55  female
10          11       Ronald    Six     89  female
11          12        Recky    Six     94  female
12          13          Kty  Seven     88  female
13          14         Bigy  Seven     88  female
14          15     Tade Row    NaN     88    male
15          16        Gimmy   Four     88    male
16          17        Tumyu    Six     54    male
17          18        Honny   Five     75    male
18          19        Tinny   Nine     18    male
19          20       Jackly   Nine     65  female
20          21   Babby John   Four     69  female
21          22       Reggid  Seven     55  female
22          23        Herod  Eight     79    male
23          24    Tiddy Now  Seven     78    male
24          25     Giff Tow  Seven     88    male
25          26       Crelea  Seven     79    male
26          27          NaN  Three     81     NaN
27          28    Rojj Base  Seven     86  female
28          29  Tess Played  Seven     55    male
29          30    Reppy Red    Six     79  female
30          31  Marry Toeey   Four     88    male
31          32    Binn Rott  Seven     90  female
32          33    Kenn Rein    Six     96  female
33          34     Gain Toe  Seven     69    male
34          35   Rows Noump    Six     88  female

In [140]:
df1.groupby(by=['class']).mean(['mark'])

       student_id      score
class
Eight   23.000000  79.000000
Five    11.000000  79.333333
Four    11.750000  68.750000
Nine    19.500000  41.500000
Seven   24.700000  77.600000
Six     21.000000  82.571429
Three   10.666667  73.666667

In [153]:
df1['class'].value_counts()

class
Seven    10
Four      8
Six       7
Five      3
Three     3
Nine      2
Eight     1
Name: count, dtype: int64

In [164]:
df1['score'].groupby(df1['gender']).mean()

gender
female    77.312500
male      71.588235
Name: score, dtype: float64